#pageContainer{
background-color: #d6d6d6;
}

h1 {
    font-size: 60px;
    font-family: Helvetica, sans-serif;
}

h2 {
    font-size: 30px;
    font-family: Helvetica, sans-serif;
}

ul{
    list-style:none;
    margin: 0px;
    padding: 0px;

}

li a {
    display: block;
    background-color: aquamarine;
    border: solid;
    font-family: monospace;
    font-size: 15px;
}

li a:hover {
  background-color: #555;
  color: white;
}

#navBar {
    position: relative;
    width: 100px;
    height: 400px;
    background-color: cadetblue;
    float: left;
}

#portfolioSquare{
    background-color: chartreuse;
    margin-left: 120px;
    width: auto;
    height: 1000px;
}

.projectSquare{
    background-color:cornflowerblue;
    width: 100px;
    height:100px;
    float: left;
}
