.subhead {
background-color: rgb(255, 0, 0);
font-family: Helvetica, sans-serif;
}

h1 {
font-size: 60px;
font-family: Helvetica, sans-serif;
}

li a {
background-color: aquamarine;
font-family: monospace;
}

#navbar {
position: relative;
width: 200px;
height: 400px;
background-color: cadetblue;
float: left;
}

li.test a{

font-size: 40px;

}