:root {
  --pink: #ee9591;
  --navy: #3e4a7c;
  --background: #e0e1dc;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

* {
  box-sizing: border-box;
}

img {
    max-width: 100%;
    margin: 0px;
}

#header {
    position:fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 100px 30px 30px 30px;
    width: 300px;
    height: auto;
    background-color: var(--background);
}

h1 {
    color: var(--pink);
    font-size: 20px;
    font-family: "neulis-sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    /* background-color: crimson; */
    margin-top: 0px;
}

h2 {
    color: var(--navy);
    font-family: "neulis-sans", sans-serif;
    font-weight: 300;
    font-size: 12pt;
    font-style: normal;
    font-weight: 300;
}

#navBar {
    width: 100%;
    height: 200px;
    /* background-color: cadetblue; */
}


ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;

}

li a {
    /* background-color: aquamarine;
    border: solid; */
    font-family: "neulis-sans", sans-serif;
    font-weight: 300;
    font-size: 12pt;
    font-style: italic;
    padding-right: 10px;
    margin-bottom: 10px;
    color: var(--navy);
}

a:link {
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

.projectDescription {
    /* background-color: aquamarine; */
    color: var(--navy);
    font-size: 12pt;
    font-family: "neulis-sans", sans-serif;
    font-style: normal;
    font-weight: 300;
        
    }

.subHead {
    /* background-color: blanchedalmond; */
    height: 60px;
}

#pageContainer{
    /* background-color: #e28888; */

}

#portfolioSquare {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--background);
    margin-left: 300px;
    margin-right: 30px;
    padding-top: 90px;
    width: auto;
    justify-content: center;
   }

#projectContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: var(red);
    margin-left: 300px;
    margin-right: 30px;
    padding-top: 120px;
    justify-content: center;
   }

.projectTwoColImage {
        width: 100%;         
        max-width: 500px; 
        margin: 0px;
        padding: 0px 10px;
        flex: 0 0 90%; 
}

.projectOneColImage {
        width: 100%;         
        max-width: 1100px; 
        margin: 0px;
        padding: 0px 10px;
        flex: 0 0 90%; 

}

.projectImage img {
        margin-bottom: 20px
}

/* USE THIS TO CHANGE SIZE OF HOMEPAGE PROJECT IMAGES IN DESKTOP */

.homepageSquare { 
    margin: .5vw;
    padding: 0px;
    max-height: 100%;
    flex: 0 0 30%;
    
}

 .homepageSquare img {
        margin-bottom: 1vw;
}




/*
Potential idea for flex box project description, which may fit better than the 
current mobile project description box. 

.text {
    background-color: pink;
    flex: 0 0 90%;
    padding: 0px 10px;
    margin: 0px 0px 20px 0px;
    
}
*/


/* ------------------------ MAX WIDTH 1000px  ------------------------ */

@media screen and (max-width: 1000px) {

    img {
        max-width: 100%;
        height: auto;
        display: block;
    }

     h1{
        font-size: 20px;
        padding: 0px;
    }


     #portfolioSquare {
        max-height: 100%;
        margin: 120px 30px 0px 30px;
        padding-top: 50px;
        flex: 0 0 auto;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

     #projectContainer {
        max-height: 100%;
        margin: 200px 30px 0px 30px;
        padding-top: 20px;
        flex: 0 0 auto;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .projectImage {
        padding: 0px;
    
    }

    /* USE THIS TO CHANGE SIZE OF HOMEPAGE PROJECT IMAGES IN MOBILE */
    
    .homepageSquare {     
        max-width: 500px; 
        margin: 0px;
        padding: 0px;
        flex: 0 0 100%; 
    }

     .homepageSquare img {
        margin-bottom: 3vw;
}

    
   
    #header {
        /* background-color: #20006c; */
        position:fixed;
        top: 0;
        left: 0;
        z-index: 10;
        padding: 30px 30px 30px 30px;
        width: 100%;
        height: 18vh;
   
    }

    #navBar {
        height: 100%;
        max-width: 500px;
        margin: 0px auto 0px auto;
        
    }
    
    ul {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


    li a {
        /* background-color: #ffa3a3; */
        margin: 0px;
        padding: 5px 0px;

        text-align: center;
    }
    
    .projectDescription {
        background-color: var(--background);
        max-width: 500px;
        margin: 20px auto 10px auto;
        padding-bottom: 10px;
        font-size: 15px;
        height: auto;
         
    }

    .subHead {
        /* display: none; */
        max-width: 500px;
        margin: 40px auto 30px auto;
        overflow: hidden;
    
    }

}

/* ------------------------ MAX WIDTH 600px  ------------------------ */
@media screen and (max-width: 600px) {
    
    #header {
        height: 160px;
    }

    #portfolioSquare {
        padding-top: 30px;
    }
    
    #projectContainer {
       
        padding-top: 0px;
        margin: 220px 30px 0px 30px;
        
    }

    .subHead {
        margin: 30px auto 0px auto;
    
    }
}

@media screen and (max-width: 400px) {
    
    #header {
        height: 150px;
    }

    #portfolioSquare {
        padding-top: 30px;
    }
    
    #projectContainer {
       
        padding-top: 0px;
        margin: 280px 30px 0px 30px;
        
    }

    .subHead {
        margin: 30px auto 0px auto;
    
    }

    h2 {
    font-size: 10pt;

    }
}
/* ------------------------ End of MQ  ------------------------ */

footer {
    /* background-color: purple; */
    position: relative;
    margin-left: 30px;
    bottom: 0px;
    color: var(--navy);
    font-family: "neulis-sans", sans-serif;
    font-weight: 300;
    font-size: 10pt;
    font-style: normal;
    font-weight: 300;


}